{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/recommended",
    "plugin:prettier/recommended"
  ],
  "env": {
    "node": true,
    "jest": true,
    "browser": true
  },
  "rules": {
    // "valid-jsdoc": "error",
    // "semi": ["error", "always"],
    "no-undef": "error",
    "no-var": "error",
    "prefer-const": "error",
    "no-const-assign": "error",
    "one-var": ["error", "never"],
    "sort-imports": "off",
    "no-control-regex": "off"
  },
  "ignorePatterns": [
    "node_modules/",
    "dist/",
    "lib_cjs/",
    "lib_es/",
    "exampless/"
  ]
}
